In [1]:
import numpy as np
import os
import pandas as pd
from pandas import ExcelWriter
import matplotlib.pyplot as plt
import openpyxl
import matplotlib as mpl
import scipy as sp
from scipy import stats
from scipy import signal
from scipy import fft
from scipy import io
from scipy import interpolate
from scipy import optimize
from scipy import linalg
from scipy import integrate
from scipy.fft import dct

mpl.rcParams['text.usetex'] = True
mpl.rcParams['text.latex.preamble'] = [
    r'\usepackage{textcomp}',
    r'\usepackage{wasysym}']
mpl.rcParams['mathtext.fontset'] = 'stix'
mpl.rcParams['font.size'] = 22
mpl.rcParams['font.family'] = 'STIXGeneral'

saveFigs = False

In [244]:
import sys 
import os
sys.path.append('../')

from BackDiffuse_LT import BackDiffuse
from GetCoreData_fct import GetCoreData

In [245]:
site_in = 'SiteA'

In [246]:
allData = GetCoreData('SiteA')

In [248]:
data_d18O = allData[0]
data_d18O_LT = allData[1]

        depth   d18O
1       1.160 -31.10
2       1.242 -33.96
3       1.324 -35.68
4       1.405 -39.11
5       1.485 -34.20
...       ...    ...
2962  128.493 -33.54
2963  128.528 -33.43
2964  128.564 -33.60
2965  128.599 -33.12
2966  128.634 -32.80

[2966 rows x 2 columns]

In [242]:
a

                                                 All
0          depth   d18O
1       1.160 -31.10
2   ...
1        depth_LT  d18O_LT
1402    70.920   -33.6...